swagger: '2.0'
info:
  version: 3.0.1
  title: "Opensearch API"
host: "opensearch-cn-hangzhou.aliyuncs.com"
securityDefinitions:
  http:
    type: "basic"
security: 
  - http: []
paths:
  /v3/openapi/apps/{app_name}/search:
    get:
      summary: "搜索处理"
      description: "系统提供了丰富的搜索语法以满足用户各种场景下的搜索需求。"
      parameters:
        - name: app_name
          in: path
          description: "表示应用名（新高级版/标准版是多应用版本类型，需要指定应用名访问，主要针对服务中的应用版本）。"
          required: true
          type: string
        - name: query
          in: query
          description: "搜索主体，不能为空。主要支持子句有 config子句、query子句、sort子句、filter子句、aggregate子句、distinct子句 、kvpairs子句。"
          required: true
          type: string
        - name: fetch_fields
          in: query
          description: "表示本次查询需要召回哪些字段值，多个字段之间通过英文分号;分隔，对应控制台中的默认展示字段功能。默认使用全部可展示字段。"
          required: false
          type: string
        - name: qp
          in: query
          description: "指定要使用的查询分析规则，多个规则使用英文逗号,分隔。默认使用已上线规则"
          required: false
          type: string
        - name: disable
          in: query
          description: "关闭指定已生效的参数功能。"
          required: false
          type: string
        - name: first_rank_name
          in: query
          description: "设置粗排表达式名字。"
          required: false
          type: string
        - name: second_rank_name
          in: query
          description: "设置精排表达式名字。"
          required: false
          type: string
        - name: user_id
          in: query
          description: "用来标识发起当前搜索请求的终端用户。该值可以设置为下列值，优先级从高到低：1. 终端用户的长登录会员ID；2. 终端用户的移动设备imei标识；3. 终端用户的client_ip"
          required: false
          type: string
        - name: abtest
          in: query
          description: "使用A/B Test功能时需要设置该参数。"
          required: false
          type: string
        - name: category_prediction
          in: query
          description: "通过类目预测功能搜索时需要设置该参数。"
          required: false
          type: string
        - name: raw_query
          in: query
          description: "终端用户输入的query，用于类目预测相关模型训练。"
          required: false
          type: string
        - name: summary
          in: query
          description: "搜索结果摘要配置，可以指定某些字段进行飘红、截断等操作。"
          required: false
          type: string
      produces: 
        - application/json
      responses:
        200:
          description: "搜索成功"
          schema:
            $ref: '#/definitions/SearchResponse'
        default:
          description: "搜索失败"
          schema:
            $ref: '#/definitions/Response'
  /v3/openapi/apps/{app_name}/suggest/{model_name}/search:
    get:
      summary: "下拉提示"
      description: "下拉提示是搜索服务的基础功能，在用户输入查询词的过程中，智能推荐候选query，减少用户输入，帮助用户尽快找到想要的内容。"
      produces: 
        - application/json
      parameters:
        - name: app_name
          in: path
          description: "表示应用名（新高级版/标准版是多应用版本类型，需要指定应用名访问，主要针对服务中的应用版本）。"
          required: true
          type: string
        - name: model_name
          in: path
          description: "下拉提示名称"
          required: true
          type: string
        - name: query
          in: query
          description: "搜索关键词（包含中文需进行urlencode编码）"
          required: true
          type: string
        - name: hit
          in: query
          description: "下拉提示条数"
          required: false
          type: integer
          minimum: 1
          maximum: 10
          default: 10
      responses:
        200:
          description: "搜索成功"
          schema:
            $ref: '#/definitions/SuggestionResponse'
        default:
          description: "搜索失败"
          schema:
            $ref: '#/definitions/Response'
  /v3/openapi/apps/{app_name}/{table_name}/actions/bulk:
    post:
      summary: "数据处理"
      description: "支持新增、更新、删除 等操作，以及对应批量操作"
      produces: 
        - application/json
      parameters: 
        - name: app_name
          in: path
          description: "表示应用名（新高级版/标准版是多应用版本类型，需要指定应用名访问，主要针对服务中的应用版本）。"
          required: true
          type: string
        - name: table_name
          in: path
          description: "要将数据推送到应用中的表名"
          required: true
          type: string
        - name: document
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/Document'
      responses:
        200:
          description: "操作成功"
          schema:
            $ref: '#/definitions/Response'
        default:
          description: "操作失败"
          schema:
            $ref: '#/definitions/Response'
  /v3/openapi/app-groups/{app_name}/data-collections/{collector_name}/actions/bulk:
    post:
      summary: "数据采集"
      description: "为了给客户提供更高质量的搜索效果，opensearch目前支持客户通过server端上传点击数据。"
      produces: 
        - application/json
      parameters: 
        - name: app_name
          in: path
          description: "表示应用名（新高级版/标准版是多应用版本类型，需要指定应用名访问，主要针对服务中的应用版本）。"
          required: true
          type: string
        - name: collector_name
          in: path
          description: "数据采集名称"
          required: true
          type: string
        - name: Behavior
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/Behavior'
      responses:
        200:
          description: "操作成功"
          schema:
            $ref: '#/definitions/Response'
        default:
          description: "操作失败"
          schema:
            $ref: '#/definitions/Response'
definitions:
  Status:
    description: "执行结果，OK为成功，FAIL为失败，请根据返回错误码进行排查"
    type: string
    enum:
      - OK
      - FAIL
  RequestId:
    description: "该条查询的记录id，主要用于排查问题使用"
    type: string
    pattern: "^[0-9]+$"
  Errors:
    description: "错误内容，error_message代表错误信息。error_code 对应含义参考 错误码 文档"
    type: array
    items:
      $ref: "#/definitions/Error"
  SearchResponse:
    properties:
      status:
        $ref: "#/definitions/Status"
      request_id:
        $ref: "#/definitions/RequestId"
      result:
        $ref: '#/definitions/SearchResult'
      errors:
        $ref: "#/definitions/Errors"
  SearchResult:
    description: "实际返回结果，包括查询耗时searchtime、引擎总结果数total、本次请求返回结果数num、本次查询最大返回结果数viewtotal、查询结果items、统计结果facet等信息"
    properties:
      searchtime:
        description: "指引擎耗时，单位为秒。"
      total:
        description: "total为一次查询（不考虑config子句）引擎中符合条件的结果数（在结果数较多情况下，该值会做优化），一般用来做展示。"
        type: integer
      viewtotal:
        description: "考虑到性能及相关性，引擎最多会返回viewtotal个结果。如果需要翻页的话，要求start+hit必需要小于viewtotal"
        type: integer
      num:
        description: "num为本次查询请求（受限于config子句的start及hit）实际返回的条目，不会超过hit值。"
        type: integer
      items:
        description: "包含查询召回数据信息，其中fields为搜索召回内容。"
        type: array
        items:
          $ref: "#/definitions/SearchResultItem"
      facet:
        description: "用于存放Aggregate子句返回的信息。"
        type: array
        items:
          $ref: "#/definitions/SearchResultFacet"
  SearchResultItem:
    properties:
      fields:
        description: "搜索召回内容"
        type: object
      variableValue:
        description: "表示自定义参数返回结果，如获取distance距离值，variableValue 节点只有在config子句的format为xml或者fulljson时才能展现出来，json格式默认不展示。"
        type: object
      sortExprValues:
        description: "表示对应文档排序分。"
        type: array
        items:
          type: number
  SearchResultFacet:
    properties:
      key:
        type: string
      items:
        type: array
        items:
          type: object
          properties:
            value:
              type: string
            count:
              type: integer
  Error:
    properties:
      code:
        description: "错误代码"
        type: integer
      message:
        description: "错误描述"
        type: string
  Document:
    required: ["cmd", "fields"]
    properties:
      cmd:
        description: "必选字段。定义该文档的操作行为，可以为“add”、“update”、“delete”，标准版不支持“update”。建议一个请求中进行批量更新操作，提高网络交互及处理效率。“add”表示新增文档，如果该主键对应文档已经存在，则执行先“delete”再“add”的操作；“update”表示更新文档，对该主键对应文档进行部分字段更新；“delete”表示删除文档，如果该主键对应文档已经不存在，则认为删除成功。"
        type: string
        enum: 
          - add
          - update
          - delete
      timestamp:
        description: "可选字段。用来记录文档实际发生时间，单位为毫秒。系统会用该时间戳来作为同一主键文档更新顺序的判断标准，该选项仅支持高级版，标准版应用，没有该timestamp选项，若指定该选项，推送会报4007错误码。在没有该timestamp项时，默认以文档发送到OpenSearch的时间作为文档更新时间进行操作。"
        type: integer
      fields:
        description: "必选字段。要操作的文档内容，主键字段必选，系统所有操作都是通过主键来进行的。对于“delete”只需要提供文档主键即可。"
        type: object
  Behavior:
    required: ["cmd", "fields"]
    properties:
      cmd:
        description: "必选字段。定义该文档的操作行为，目前仅支持ADD"
        type: string
        enum: 
          - ADD
      fields:
        description: "必选字段。行为数据主体。"
        type: object
        required: ["event_id", "sdk_type", "sdk_version", "page"]
        properties:
          event_id:
            description: "埋点的事件ID，详见埋点规范，不能为空"
            type: integer
            default: 2001
          sdk_type:
            description: "sdk类型， 如果使用sdk上传则为'opensearch_sdk'，不能为空"
            type: string
          sdk_version:
            description: "opensearch_sdk版本号，不能为空"
            type: string
          page:
            description: "当前页面，不能为空"
            type: string
          arg1:
            description: "事件参数，默认为空。当事件为2001时该参数代表搜索结果列表所在的页面名称，不能为空"
            type: string
          arg3:
            description: "事件参数，默认为空。当事件为2001时该参数代表用户在详情页停留的时长（单位ms），不能为空"
            type: string
          args:
            description: "事件参数，默认为空。当事件为2001时该参数为Event2001Args实体的字符串表示，不能为空"
            type: string
          user_id:
            description: "默认为空，实际中建议非空。该值可以设置为下列值，优先级从高到低：1. 终端用户的长登录会员ID；2. 终端用户的移动设备imei标识；3. 终端用户的client_ip"
            type: string
  Event2001Args:
    description: "object_id=pk,object_type=ops_search_doc,ops_request_misc=xxx"
    properties:
      object_id:
        description: "被点击的对象的主键，不能为空，如果通过api上传需要urlencode"
        type: string
      object_type:
        description: "必须为ops_search_doc"
        type: string
        default: "ops_search_doc"
      ops_request_misc:
        description: "开放搜索在搜索结果中返回的参数，只要原样设置即可。"
        type: string
  SuggestionResponse:
    properties:
      request_id:
        $ref: "#/definitions/RequestId"
      searchtime:
        description: "引擎查询耗时，单位为秒"
        type: number
      suggestions:
        type: array
        items:
          type: object
          properties:
            suggestion:
              type: string
      errors:
        $ref: "#/definitions/Errors"
  Response:
    properties:
      status:
        $ref: "#/definitions/Status"
      request_id:
        $ref: "#/definitions/RequestId"
      errors:
        $ref: "#/definitions/Errors"
